<!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8" />
            <title>{% block title %}Mes Series TV - LP Metinet 2013{% endblock %}</title>
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
            {% block stylesheets %}
            <link type="text/css" rel="stylesheet" href="{{ asset('/bundles/metinetgalery/css/style.css')}}" />
            {% endblock %}

            <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>

            {% block boutonjaime %}
              <meta property="og:title" content="Quizz en folie" />
              <meta property="og:type" content="game" />
              <meta property="og:url" content="http://apps.facebook.com/quizzenfolie/" />
              <meta property="og:image" content="http://apps.facebook.com/uploads/images/quizz.jpg" />
              <meta property="og:description" content="Le Quizz de folie a remplir très vite !!!" />
            {% endblock %}
        </head>
        <body>
            <div id="fb-root"></div>
            {% block body %}{% endblock %}
            {% block javascripts %}
            <script type="text/javascript">
              window.fbAsyncInit = function() {
                // init the FB JS SDK
                FB.init({
                  appId      : '{{ app_id }}',
                  channelUrl : '//{{ urlinterne }}/channel.php',
                  status     : true,
                  xfbml      : true
                });
     
                FB.Canvas.setAutoGrow();
              };
     
              // Load the SDK asynchronously
              (function(d, s, id){
                 var js, fjs = d.getElementsByTagName(s)[0];
                 if (d.getElementById(id)) {return;}
                 js = d.createElement(s); js.id = id;
                 js.src = "//connect.facebook.net/fr_FR/all.js";
                 fjs.parentNode.insertBefore(js, fjs);
               }(document, 'script', 'facebook-jssdk'));


              function publier(name,link,picture,caption,description){
                FB.ui(
                {
                  method: 'feed',
                  name: name,
                  link: link,
                  picture: picture,
                  caption: caption,
                  description: description
                }
                );
              }

              function rejoindre(message){
                FB.ui(
                {
                  method: 'apprequests',
                  message: message,
                }, requestCallback);
              }

              function requestCallback(){}

            </script>
            {% endblock %}
        </body>
    </html>


