@font-face {
    font-family: DimboRegular;
    src: url(../font/DimboRegular.ttf);
}

@font-face {
    font-family: PoetsenOne;
    src: url(../font/PoetsenOne-Regular.ttf);
}

@font-face {
    font-family: Simplicity;
    src: url(../font/Simplicity.ttf);
}

body {
	background-color: #fff0b0;
	font-family: DimboRegular;
	font-size: 24pt;
}

h1 {
	color: #ff3c00;
	font-size: 56px;
	margin: 15px 15px 15px 90px;
	font-family: PoetsenOne;
}

h2 {
	color: #ff3c00;
	font-family: DimboRegular;
	font-size: 26pt;
	margin: 30px 0 0 30px;
}

h3 {
	color: #ff3c00;
	font-weight: bold;
	font-family: DimboRegular;
	font-size: 30pt;
}

h4 {
    color: #FF3C00;
    font-size: 36px;
    margin: 25px 0 5px 30px;
}

li {
	list-style-type: none;
}

li a {
	text-decoration: none;
	color: #ff7800;
}

a {
	text-decoration: none;
}

ul {
	padding: 5px;
	margin: 5px;
}

table:not(#userTable) {
	font-size: 20px;
	font-family: Simplicity;
	font-weight: bold;
	width: 95%;
	padding: 15px;
	margin-left: 30px;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px #aaa;
    background-color: white;
}

table tbody tr:nth-child(odd){
  background-color: #FFE6D9;
}

thead {
	background-color: #FFC5A8;
	color: #D94800;
}

td { 
	text-align: center;
}

th {
	font-weight: bold;
}

label {
	display:block;
	float:left;
	width:250px;
	text-align:right;
	padding:0 5px 0 0
}

input[type=button]{
	background: transparent;
    border: none;
    font-size: 20px;
    font-weight: bold;
    font-family: Simplicity;
    color: white;
    float:right;
}

button {
    background: transparent;
    border: none;
    font-size: 20px;
    font-weight: bold;
    font-family: Simplicity;
    color: white;
    float:right;
}

#btnNewTheme {
	height:50px;
	margin-left: 25px;
}

#btnInvit {
	text-align: center;
}

#formQuizz {
	padding: 30px;
	margin: 30px;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 3px 3px 8px #aaa;
    width: 550px;
}

#userTable {
    font-family: Simplicity;
    padding: 15px;
    width: 90%;
}

#userTable tr.classtr {
	background-color: #FFF0B0;
}

#test {
	display: inline;
}

#friendRank {
    float: left;
    width: 550px;
}

#container {
    display: inline-block;
    width: 100%;
}

#listQuestion {
	font-size: 24px;
	font-weight: bold;
	font-family: Simplicity;
	padding: 10px;
	margin: 20px 0 0 30px;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 3px 3px 8px #aaa;
    width: 750px;
}

#userRank {
	margin-top: 70px;
}

#userRank p {
	margin: 5px 0;
}

#profilUser {
	font-size: 24px;
	font-weight: normal;
	font-family: Simplicity;
	padding: 10px;
	margin: 40px 0 0 30px;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 3px 3px 8px #aaa;
    width: 400px;
}

#menu-gestion {
	display: block;
	margin: 0 0 100px 40px;
}

#topQuizz {
	display: inline-block;
	width: 400px;
	margin-left: 20px;
}

#flopQuizz {
	display: inline-block;
	width: 400px;
}

#lastUser li {
	display: inline;
	margin: 0 5px 0 5px;
}

#lastUser h3 {
	margin: 20px 5px 15px 5px;
}

#lastUser {
	margin-left: 25px;
}

.userScore {
    font-family: DimboRegular;
    font-size: 24px;
    margin: 10px;
}

.txtWin {
    font-family: DimboRegular;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.rankNum {
    color: #FF3C00;
    font-family: DimboRegular;
    font-size: 40px;
    font-weight: bold;
    margin: 5px;
}

.listInfoQuizz {
	width: 800px;
	margin:30px;
	font-family: Simplicity;
	font-size: 22px;
}

.userName {
	float:left;
	margin-top: 0;
}

.listQuizz {
	width: 300px;
	color: #ff7800;
	background-color: white;
	box-shadow: 3px 3px 8px #aaa;
	margin: 20px 20px 20px 20px;
	padding: 5px;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.userPic {
	float: left;
}

.rankQuizz {
	vertical-align: top;
	margin: 5px;
	padding: 35px 5px;
	float: left;
}

.infoImage {
	margin: 15px;
	padding: 15px;
	float: left;
}

.infoAppli {
	width: 650px;
	color: #ff2a00;
	background-color: white;
	box-shadow: 3px 3px 8px #aaa;
	margin: 20px 20px 20px 40px;
	padding: 10px;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.spanresult {
	font-weight: bold;
}

.lastUser {
	float: left;
	margin: 0px 15px 0px 5px;
}

.logoSmall {
	float: left;
    padding: 15px 5px 10px 35px;
}