@font-face {
    font-family: JustAnotherFont;
    src: url(../font/JustAnotherFont.ttf);
}

@font-face {
    font-family: DimboRegular;
    src: url(../font/DimboRegular.ttf);
}

body {
	background-color: #fff0b0;
	font-family: DimboRegular;
	font-size: 24pt;
}

h1 {
	color: #ff3c00;
	font-size: 48px;
	margin: 15px 15px 15px 90px;
	font-weight: bold;
	font-family: JustAnotherFont;
	-webkit-text-stroke: 2px #ff3c00;
    -webkit-text-fill-color: #ffba00;
}

h3 {
	color: #ff3c00;
	font-weight: bold;
	font-family: DimboRegular;
	font-size: 30pt;
}

li {
	list-style-type: none;
}

li a {
	text-decoration: none;
	color: #ff7800;
}

a {
	text-decoration: none;
}

ul {
	padding: 5px;
	margin: 5px;
}

#topQuizz {
	display: inline-block;
	width: 450px;
	margin-left: 20px;
}

#flopQuizz {
	display: inline-block;
	width: 450px;
}

#lastUser li {
	display: inline;
	margin: 0 5px 0 5px;
}

#lastUser h3 {
	margin: 20px 5px 15px 5px;
}

#lastUser {
	margin-left: 25px;
}

.listQuizz {
	width: 300px;
	color: #ff7800;
	background-color: white;
	box-shadow: 3px 3px 8px #aaa;
	margin: 20px 20px 20px 20px;
	padding: 5px;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.rankQuizz {
	vertical-align: top;
	margin: 5px;
	padding: 35px 5px;
	float: left;
}

.infoImage {
	margin: 15px;
	padding: 15px;
	float: left;
}

.infoAppli {
	width: 650px;
	color: #ff2a00;
	background-color: white;
	box-shadow: 3px 3px 8px #aaa;
	margin: 20px 20px 20px 90px;
	padding: 10px;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.spanresult {
	font-weight: bold;
}

.lastUser {
	float: left;
	margin: 0px 15px 0px 5px;
}