{% extends '::base.html.twig' %}

{% block body %}

<style type="text/css">
table, th, td
{
	border: 1px solid black;
}
</style>


<h1>Lister les Quizz</h1>

{% for valeur in quizz %}
<table>
	<tr>
		<th>Image</th>
		<th>Titre</th>
		<th>Description</th>
		<th>Point gagnant</th>
		<th>Modifier</th>
		<th>Supprimer</th>
	</tr>
	<tr>
		<td>{{ valeur.picture }}</td>
		<td>{{ valeur.title }}</td>
		<td>{{ valeur.shortDesc }}</td>
		<td>{{ valeur.winPoints }}</td>
		<td><a href="#">modifier</a></td>
		<td><a href="#">supprimer</a></td>
	</tr>

</table>

{% endfor %}


{% endblock %}

