{% extends '::base.html.twig' %}

{% block body %}
	<div>
	<h2>Dashboard</h2>
	<p>Bienvenu sur votre Dashboard</p>
	<a href="{{ path('listerQuizz') }}">Lister les Quizz</a>
	<br />
	<a href="{{ path('ajouterQuizz') }}">Ajouter des Quizz</a>
	</div>	
{% endblock %}



